{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<h2>{{ article.title }}</h2>
<p><i>Автор: {{ article.author.username }}, {{ article.created_at|date:"d.m.Y H:i" }}</i></p>
<p>{{ article.content }}</p>

{% for img in article.images.all %}
  <img src="{{ img.image.url }}" style="max-width:300px;" class="img-fluid my-2"/>
{% endfor %}

{% if request.user == article.author %}
  <a href="{% url 'article_update' article.pk %}" class="btn btn-sm btn-warning">Редагувати</a>
  <a href="{% url 'article_delete' article.pk %}" class="btn btn-sm btn-danger">Видалити</a>
{% endif %}
{% endblock %}
